aiohttp==3.9.5
aiosignal==1.3.1
albumentations==1.4.6
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
async-timeout==4.0.3
attrs==23.2.0
av==12.0.0
certifi
chardet==5.2.0
charset-normalizer
colorama==0.4.6
contourpy==1.2.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
defusedxml==0.7.1
deskew==1.5.1
docstring_parser==0.16
einops==0.8.0
filelock
fonttools==4.51.0
FrEIA==0.2
frozenlist==1.4.1
fsspec==2024.3.1
gmpy2
huggingface-hub==0.23.0
idna
imageio==2.34.1
imgaug==0.4.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
Jinja2
joblib==1.4.2
jsonargparse==4.28.0
kiwisolver==1.4.5
kornia==0.6.9
lazy_loader==0.4
lightning-utilities==0.11.2
MarkupSafe
matplotlib==3.8.4
mpmath
multidict==6.0.5
networkx
numpy
omegaconf==2.3.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
pandas==2.2.2
pillow
psutil==5.9.8
py-cpuinfo==9.0.0
pydantic==2.7.1
pydantic_core==2.18.2
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytorch-lightning==1.9.5
pytz==2024.1
PyYAML
requests
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.4
six
supervision==0.20.0
sympy
tbb==2021.12.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.5.3
timm==0.6.12
torch==2.3.0
torchmetrics==0.10.3
torchvision==0.18.0
tqdm==4.66.4
typeshed_client==2.5.1
typing_extensions==4.11.0
tzdata==2024.1
ultralytics==8.2.8
urllib3
yarl==1.9.4
