chardet==5.2.0
lightning-utilities==0.11.3.post0
nncf==2.11.0
omegaconf==2.3.0
onnx==1.16.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openvino==2024.2.0
openvino-dev==2024.2.0
openvino-telemetry==2024.1.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
ultralytics==8.2.46
albumentations>=1.1.0
av>=10.0.0
einops>=0.3.2
freia>=0.2
imgaug==0.4.0
jsonargparse[signatures]>=4.3
kornia>=0.6.6,<0.6.10
matplotlib>=3.4.3
omegaconf>=2.1.1
opencv-python>=4.5.3.56
pandas>=1.1.0
pytorch-lightning>=1.7.0,<1.10.0
timm>=0.5.4,<=0.6.12
torchmetrics==0.10.3